video{
    filter: none !important;
}

.body{
    overflow-x: hidden;
    overflow-y: hidden;
}

.outer{
    position: relative;
}

.root{
    position: absolute;
    width: 100%;
    height: 100%;
}

.inner{
    z-index: 9;
    width: 70%;
    margin-left: 100px;
}

h1 {
    /* font-size: 6rem;
    letter-spacing: 0.2rem; */
    margin-bottom: auto;
}

p {
    text-align: center;
    font-size: 2rem;
}
/* 
button {
    padding: 1rem 10rem;
    cursor: pointer;
} */

.call-btn {
    /* background-color: darkslategrey;
    color: antiquewhite;
    font-size: 3rem;*/
    margin-left: 60%; 
    margin-top: 35%;
    border-radius: 50%;
    height: 50%;
    padding: 50px;
    position: relative;
    border: 2px solid white;
    background-color: #5b577300;
    color: green;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* margin: 4px 2px; */
    cursor: pointer;
}

.hangup-btn {
    background-color: darkred;
    color: white;
    font-size: 1.5rem;
    margin-left: 6rem;
    margin-top: 4rem;
}

.modal {
    padding: 5rem;
    background-color: whitesmoke;
    border-radius: 2rem;
    width: 40rem;
    height: 20rem;
}

.inner-modal {
    text-align: center;
}

.modal label {
    font-size: 1.5rem;
}
.modal input {
    margin: 1rem 7rem 3rem;
    display: block;
    padding: 1rem;
    border-radius: 3rem;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.19);
    border: none;
    width:50%;
}

.connect-btn {
    background-color: #0c1d1d;
    color: whitesmoke;
    font-size: 1.5rem;
}

.big{
   color: white;
   padding: 50px;
}

.gap{
    display: flex;
    flex: 0.2;
}

.maincard {
    display: flex;
    /* flex-wrap: wrap; */
    flex: 0.6;
    position: fixed;
    /* transform: translate(-50%); */
    justify-content: space-between;
    opacity: 0.7;
    margin-left: 28rem; 
    margin-top: 100px;
    /* padding: 190px;
    padding-left:450px ; */
  }
  
  .card {
    margin: 20px;
    padding: 20px;
    width: 500px;
    min-height: 200px;
    display: grid;
    grid-template-rows: 20px 50px 1fr 50px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: transform 0.2s ease-in-out;
    transform: scale(1.0) !important;
    background: rgba(187, 182, 194, 0.7);
    /* transition: all 0.5s; */
  }
  
  .card:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
  }

#remoteVideo{
    /* margin-top: -400px; */
    margin-left: 350px;
    display: flex;
    position: fixed;
    top: 4%;
    /* padding: 50px; */
    border-radius: 35px;
    /* width: 1000px; */
    height: 550px;
}

#localVideo{
    /* margin-top: -400px; */
    margin-left: 40px;
    display: flex;
    position: fixed;
    /* bottom: 6%; */
    /* padding: 50px; */
    border-radius: 12px;
    /* width: 1000px; */
    height: 150px;
    z-index: 100;
}

/* Responsiveness */
/* @media screen and (max-width: 700px) {
    .maincard{
        padding-left: 100px;
        display: flex;
    }
  }
  
  @media screen and (max-width: 400px) {
    
  } */

  .btn{
    /* position: fixed;
    margin-left: 30px; */
    top: 0;
    /* border-radius: 50%; */
}

.dark-mode{
    filter: invert(1) hue-rotate(180deg);
}


.inverted {
    filter: invert(1) hue-rotate(180deg);
}

/* ------Collaborative Board -----------*/
.boardpop{
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px;
    border-radius: 50%;
}

.closeboard{
    position: fixed;
    top: 0;
    right: 0;
}

#canvas{
    background-color: white;
    border-radius: 35px;
    position: fixed;
    top: 5%;
    left: 25%;
}

.drawing{
    position: relative;
    opacity: 0;
}

.drawing.show{
    opacity: 1;
}

.footer{
    /* position: fixed; */
    display: flex;
    justify-content: space-between;
    border: 2x solid black;
    /* bottom: 0; */
    height: 65px;
    width: 96%;
    /* background-color: #282828; */
    padding: 20px;
    margin-bottom: -70px;
}

.footer-left{
    flex: 0.3;
    color: white;
    margin-left: 80px;
    display: flex;
    align-items: center;
    color: white;
    width: 200px;
}

.footer-center{
    flex:0.4;
    color: white;
    padding: 0 70px;
    margin-left: -150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;
}

.footer-center{
    transition: transform 0.2s ease-in-out;
    transform: scale(1.2) !important;
    background: rgba(47, 44, 51, 0.7);
    border-radius: 26px; 
}

.footer-right{
    flex:0.3;
    color: white;
}

.switch {
    margin-right: 40px;
    margin-left: 10px;
    /* border: 2px solid #3c3c4b; */
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px; 
    cursor: pointer;
    width: 60px;
    }
    
    i{
    font-size: 1.4em;
    }
    
    .switch::after {
    content: "";
    display: block;
    padding-bottom: 100%;
    }

input#un-mute {
    display: none;
    height:27px;
}

.mute i{
    height:27px;
}

.unmute i {
    display: none;
    height:27px;
}

input#un-mute:checked ~ .unmute i {
    display: initial;
    height:27px;
}

input#un-mute:checked ~ .mute i {
    display: none;
    height:27px;
}

input#un-cam {
    display: none;
    height:27px;
}

.cam i{
    height:27px;
}

.uncam i {
    display: none;
    height:27px;
}

input#un-cam:checked ~ .uncam i {
    display: initial;
    height:27px;
}

input#un-cam:checked ~ .cam i {
    display: none;
    height:27px;
}

/* Chat Styling */
.chat{
    opacity: 0;
    color: black;
    float: right;
    right: 20px;
    bottom: 40px;
    position: fixed;
    background-color: white;
    height: 500px;
    border-radius: 20px;
    border: 1px solid grey;
    font: Verdana;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: opacity 0.3s ease;
}

.chat.show{
    opacity: 1;
}

.chatpopup{
    font-size: 1.5rem;
    border: 2px solid white;
    background-color: #5b577300;
    color: darkcyan;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50%;
    margin-left: 30px;
}

.head{
    display: inline-flex;
    background-color: #8d72ab;
    width: 100%;
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px ;
}

.chathead{
    text-align: center;
    justify-content: center;
    background-color: #8d72ab;
    color: white;
    margin-left: 30px;
    /* padding: 5px;
    margin-top: -10px; */
}

#close{
    background-color: #8d72ab;
    position: fixed;
    color: white;
    border: none;
    margin-top: 20px;
    float: right;
    right: 30px;
    border-radius: 50%;
}

#message-container{
    padding: 20px;
}

.msg-controls{
    padding: 20px;
    margin-top: 340px;
}

#content{
    border-radius: 15px;
}

#msgsend{
    border-radius: 20px;
    background-color: indigo;
    color: white;
}