.sidebar{
    height: 100vh;
    background-color: black;
    padding-left: 10px;
    padding-right: 10px;
    /* min-width: 230px; */
    flex: 0.05;
    /* background-color: #040404; */
    max-width: 70px;
}

.horizon{
    display: none;
}

.logo{
    height:80px;
    width: 80px;
    justify-content: center;
    align-items: center;
}

.sidebar > p{
    font-size: 11px;
    justify-content: center;
    align-items: center;
    text-align: center; 
    /* padding-left: 10px; */
    /* padding-right: 10px; */
     margin-top: 0px;
}

@media screen and (max-width: 700px) {
    .horizon {
      width: 100%;
      height: 50px;
      display: inline-flex;
      align-items: flex-start;
      flex-direction: row;
      flex-wrap: wrap;
      /* flex-grow: 1; */
      max-height: 5vh;
    }

    .sidebar{
        display: none;
    }
  }
  
  @media screen and (max-width: 400px) {
    
  }